<style type="text/css">
	a {color:black; text-decoration:none;}
</style>

<div>
	<span style="font-size:32px;">余额</span><span style="font-size:24px;">￥ 878.00</span><span style="margin-left:80px;">其中包括</span>
</div>
<div>
	<table style="border:0;width:100%;">
		<tr>
			<td style="padding:50px;text-align:center;font-size:24px;"><span>￥ 350.00</span></td>
			<td style="padding:50px;text-align:center;font-size:24px;"><span>充值金额（可提现）</span></td>
		</tr>
		<tr>
			<td style="padding:50px;text-align:center;font-size:24px;"><span>￥ 50.00</span></td>
			<td style="padding:50px;text-align:center;font-size:24px;"><span>推广佣金（抵房款，不可提现）</span></td>
		</tr>
		<tr>
			<td style="padding:50px;text-align:center;font-size:24px;"><span>￥ 399.00</span></td>
			<td style="padding:50px;text-align:center;font-size:24px;"><span>VIP会员（有效期 2 年）</span></td>
		</tr>
	</table>
</div>
