<style type="text/css">
	a {color:black; text-decoration:none;}
</style>

<div>
	<table style="border:0;width:100%;">
		<tr>
			<td style="padding:50px;text-align:center;font-size:24px;"><a href="<{url 'base/member/order'}>">订房</a></td>
			<td style="padding:50px;text-align:center;font-size:24px;"><a href="<{url 'base/member/rebate'}>">返现</a></td>
		</tr>
		<tr>
			<td style="padding:50px;text-align:center;font-size:24px;"><a href="<{url 'base/member/balance'}>">余额</a></td>
			<td style="padding:50px;text-align:center;font-size:24px;"><a href="<{url 'base/member/cps'}>">推广</a></td>
		</tr>
	</table>
</div>
