<{include "header.html"}>
<style type="text/css">
.goods_row { border-bottom:1px solid #dadada;margin-bottom:10px;padding-bottom:10px;overflow:hidden; }
.goods_row_pad { width:110%; }
.thumb { width:40%; float:left; height:100px; padding:3px; }
.thumb img { width:100%; height:100%; }
.content { width:51%; float:left; height:100px;padding-left:10px; }
.clear { clear:both; }
.goods_num { width:100px;margin:0 5px; }
.goods_name { cursor:pointer; }
.cate_name { font-size:16px; font-weight:bold; cursor:pointer;text-align:center; }
.green { background-color:#DFF0D8; }
.goods { line-height:42px; width:110%;overflow:hidden;position:relative; }
.remove { width:30px;height:100px;line-height:100px;float:left;color:white;background:red;text-align:center; }
.jian { width:10px; text-align:center; }
.jia { width:10px; text-align:center; }
</style>
<{for from=$lists key=$key item=$val}>
<div class="goods_row">
	<div class="goods_row_pad">
		<div class="thumb"><{img src=$val.thumb}></div>
		<div class="content">
					<div class="goods_name"><{$val.name}></div>
					<div><span class="jian">-</span><span class="goods_num"><{$val.nums}></span><span class="jia">+</span></div>
					<div class="buy_time">buy time：<{date 'Y-m-d' $val.buy_time}></div>
					<div class="">expire time：<{date 'Y-m-d' $val.end_time}></div>
		</div>
		<div class="remove">X</div>
		<div class="clear"></div>
	</div>
</div>
<{done}>
<{include "footer.html"}>
<script>
$('.goods_num').bind('click', function(){
	$(this).children(':first').remove();
});
$('.goods_name').bind('click', function(){
	var goods = $('<span class="glyphicon glyphicon-pushpin"></span>');
	$(this).next().append(goods);
});
$('.cate_name').bind('click', function(){
	var row_num = parseInt($(this).attr('row_num'))+1;
	$(this).css('height', row_num*42+'px');
	$(this).css('line-height', row_num*42+'px');
	$(this).attr('row_num', row_num);
	var html = '<div style="overflow:hidden"><div class="goods '+(row_num%2==0?'green':'')+'" goods_id="0"><div class="goods_name col-xs-1"></div><div class="goods_num col-xs-6"></div><div class="buy_time col-xs-2"><{date 'Y-m-d'}></div><div class="col-xs-2"></div><div class="remove">删除</div></div></div>';
	$(this).next().prepend(html);
});
$(document).on('click','.thumb',function(){
	if($(this).parent().parent().css('scrollLeft')=='30') {
		$(this).parent().parent().animate({scrollLeft:"0"}, 100);
	} else {
		$(this).parent().parent().animate({scrollLeft:"30"}, 100);
	}
});
$(document).on('click','.remove',function(){
	var goods = $(this).parent().parent();
	goods.slideUp('fast');
});
</script>